main {
    min-height: 90vh;
}
a {
    text-decoration: none;
}

.avatar {
    width: 100px;
}

.avatar-icon {
    width: 40px;
}

.header-form {
    margin-top: 12px;
    margin-bottom: 12px;
}

.banner {
    position: relative;
}

.banner-content {
    position: absolute;
    bottom: 32px;
    left: 64px;
    width: 35%;
    margin: 8px;
    font-size: 0.9vw;
}

.banner-content-text {
    margin: 0 0 16px;
}

@media (max-width: 575.98px) {
    .banner-content-text {
        font-size: 10px;
    }
}

.nav-hover .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.line {
    width: 35%;
    height: 1px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    transform: rotate(45deg);
    background: #f3f3f3;
}

.line-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.explore-title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}
